<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<div class="container-fluid Title">
		<h1>
			<%= @article.title %>
		</h1>
	</div>

	<div class="container-fluid">
		<p>
			<%= @article.text %>
		</p>
	<h4>Add a comment:</h4>
		<%= render 'comments/form' %>
		 
		<%= link_to 'Edit', edit_article_path(@article) %> |
		<%= link_to 'Back', articles_path %>
	</div>
	<hr>
	<div>
		<h4>Comments</h4>
		<div class="container-fluid">
			<%= render @article.comments %>
		</div>

	</div>
</body>
